$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic);

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*
 * SMACSS + SCSS starter v2.0
 * Inspired by SMACSS http://smacss.com
 * Author: @jonathanpath
 * Date: 11 July 2013
 *
 * https://github.com/jonathanpath/SASS-SMACSS
 * See file structure in http://jonathanpath.com/sass+smacss/scss/style.scss
 * Sass Structure inspired by : https://github.com/sutter/POPY-starter-HTML-SCSS
 *
 * Coding rules : https://github.com/necolas/idiomatic-css
 *
 */

/* Compass */
@import "compass/css3/images";
@import "compass/typography/lists/inline-list";
@import "compass/css3/transform";


/* Tools */
@import "tools/functions";
@import "tools/variables";
@import "tools/mixins";
@import "tools/helpers";

/* Base */
@import "base/base";
@import "base/form";

/* Fonts */
//@import "fonts/...";

/* Layout */
@import "layout/home";
@import "layout/main";
@import "layout/header";
@import "layout/nav";
@import "layout/footer";


/* Modules */
@import "modules/btn";
@import "modules/animations";