/* ===========================
   Tools/Helpers
   =========================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/* =Layout
------------------- */

.ul-list-inline {
    @include ul-list-inline();
}

/* =Fonts
------------------- */

/* Chart Colors */
.f-color1 {
    color: $color1;
}
.f-color2 {
    color: $color2;
}

