@charset "UTF-8";

// ----------------------
// == Site variables
// ----------------------

// Fonts
$font1: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font2: Georgia, serif;
$serif: 'Merriweather', serif;
$serif-2: 'Libre Baskerville', serif;
$sans-serif: 'Montserrat', 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
$sans-serif-2: 'Helvetica Neue', Helvetica, Arial, sans-serif;;

// = Colors
// -----------------------------

$dune: #372F2C;
$gold: #C79C36;
$mine: #2F2F2F;
$spring-wood: #F5F2EB;
$bg-1: #F8F7F2;
$bg-2: #F5F2EB;

// Text
$color-text-base: #444;

// link
$color-link: $gold;
$color-link-hover: darken($color-link, 10%);

// Mixin Placeholder
$color-mixin-placeholder: #cdcdcd;

// Selection
$color-selection: $gold;