/* ===========================
   Base
   =========================== */

body {
	background: #FFF;
	color: #444;
	margin: 0;
	padding: 0;
	font-family: $serif;
	position: relative;
}

.container {
	@media (min-width: $screen-md-min) {
		width: 690px;
	}
	@media (min-width: $screen-lg-min) {
		width: 890px;
	}
	@media (min-width: 1470px) {
		width: 1170px;
	}
}

h1, h2, h3, h4 {
	font-family: $serif-2;
}

img {
	max-width: 100%;
}

a {
	@include link-colors($gold, darken($gold, 20%));
}