/* --------------------------------------------------------------
	Post Layout
-------------------------------------------------------------- */
.feed-section {
	background: $spring-wood;
	padding: 100px 0;
}

.post-entry {

	column-gap: 20px;


//	column-fill: balance;


	@media (min-width: $screen-md-min) {
		column-count: 2;
	}

	@media (min-width: $screen-lg-min) {
		column-count: 3;
	}
}

.panel {
	@include single-transition(transform, 0.2s, linear);
	display: block;
	background: #fff;
	margin: 0 0 25px;
	width: 100%;
	@include box-sizing(border-box);
//	@include border-radius(3px);
	overflow: hidden;

	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;







}

.post-main {
	padding: 20px 25px;
}

.post-body {
	margin-left: 60px;

}

.post-header-wrap {
	@include clearfix;
	margin-bottom: -0.625rem;


}

.post-avatar {
	float: left;

	margin-left: -60px;

}

.post-author {
	font-family: $sans-serif;
	text-transform: uppercase;
	span {
		color: #444;
	}

}

.post-meta {
	float: right;
	width: 60%;
	color: rgba(0,0,0,0.5);
}

.view-tile .post-meta.top {
	display: none;
}

.view-tile .post-video .post-image a {
	position: inherit;
}

.view-tile .post-video .post-image a > div {

	@media (min-width: $screen-md-min) {
		display: none;
	}
}

.post-content {
	color: rgba(0,0,0,0.8);
	font-size: 14px;
	line-height: 1.6;
	font-family: $serif-2;
	a {
		@include link-colors(red, green);
	}
	p {
		word-break: break-word;
	}
}

.post-action-btn {
	@extend .image-replace;

	background: url("../images/post-cta.png") 0 0 no-repeat;
	width: 13px;
	height: 13px;
	display: block;

}

.post-image img {
	width: 100%;
	max-width: 100%;
}

.post-action {
	@include clearfix;
	padding: 0 20px 0 84px;
	margin: 15px 0;
	font-family: $sans-serif;
	.number {
		font-size: 14px;
		width: 40%;
		float: left;
		//		color: red;
		@include link-colors($gold, $gold);
		&:hover {
			text-decoration: none;
			.caret {
				border-top-color: yellow;
			}
		}

	}
}

