<div class="container">
	<div class="post-entry" id="ss-all-posts" ng-controller="FeedCtrl">
		<article class="post panel" ng-repeat="feed in feeds">
			<div class="post-wrap">
				<div class="post-main">
					<div class="post-body">
						<div class="post-header-wrap">
							<a href="" class="post-author">
								<img class="post-avatar" src="http://placehold.it/40x40" alt="avatar" />
								<span>{{feed.name}}</span></a>
						</div>
						<div class="post-content">
							<p>{{feed.excerpt}}</p>
						</div>
					</div>
				</div>
				<!--end .post-main -->
				<div class="post-image" ng-if=feed.image>
					<a href="" class="modal-trigger" data-image="">
						<img ng-src="images/photos/{{feed.image}}" alt="Description" />
					</a>
				</div>
				<div class="post-action">
					<p class="number"><span >{{feed.quantity}}</span> bags</p>
					<div class="post-meta">
						{{feed.city}}, {{feed.country}}
					</div>
				</div>
				<!--end .post-action -->

			</div>

		</article>

	</div>
</div>