<section class="hero section-wrap">

	<div class="container">
		<div class="hero-info">

			<h1><strong>Like the lush Indonesian island of its origin, <br>this spicy coffee stands alone.</strong></h1>
			<h4 class="hidden-xs">Full-bodied with a smooth mouthfeel, lingering flavors of dried herbs and fresh
				earth</h4>

			<a href="" class="btn btn-prime">Shop Now</a>
		</div>

	</div>
	<!--<div class="overlay"></div>-->
</section>

<section class="product-section section-wrap">
	<div class="container">
		<div class="row">
			<div class="col-sm-6"><img src="http://placehold.it/800x600" alt="" /></div>
			<div class="col-sm-4">
				<div class="product-summary">

					<h1>Sumatra, Whole Bean</h1>
					<h4>$40</h4>

					<p class="">Dark Roast </p>

					<div class="entry-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet commodi cumque dolorem
							eaque, eius facilis laboriosam laudantium maiores molestias nihil odit perspiciatis
							provident quaerat recusandae rerum sapiente sunt totam?</p>
					</div>

					<form class="form-inline">
						<div class="form-group">
							<label class="sr-only" for="exampleInputAmount">Quantity:</label>

							<div class="input-group">
								<div class="input-group-addon">Quantity:</div>
								<input type="text" class="form-control" id="exampleInputAmount" placeholder="1">

								<div class="input-group-addon">bags</div>
							</div>
						</div>
						<button type="submit" class="btn btn-primary">Buy</button>
					</form>
				</div>


			</div>

		</div>

	</div>
</section>

<section class="stats section-wrap">

	<div class="container">
		<div class="stats-intro">
			<h2>Consectetur Adipisicing</h2>

			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis doloremque exercitationem nam
				praesentium ratione reprehenderit sapiente vero voluptas! A animi consequatur fuga neque officia
				ut veritatis.
			</p>

		</div>
		<ul class="stats-content" id="stats-animate-number">
			<li class="stat">
				<div class="number"><span class="animate-number-shutters">86</span>K</div>
				<span class="type">lorem ipsum</span>
			</li>
			<li class="stat">
				<div class="number"><span class="animate-number-clients">251</span></div>
				<span class="type">lorem ipsum</span>
			</li>
			<li class="stat">
				<div class="number"><span class="animate-number-projects">658</span></div>
				<span class="type">lorem ipsum</span>
			</li>
			<li class="stat">
				<div class="number"><span class="animate-number-hours">16</span>K</div>
				<span class="type">lorem ipsum</span>
			</li>
		</ul>

	</div>


</section>


<!--
All posts content are in this partial file to keep index.html short.
-->
<section>
<div class="container">

<div class="post-entry" id="ss-all-posts">


<article class="post panel">
	<div class="post-wrap">
		<div class="post-main">
			<div class="post-body">
				<div class="post-header-wrap">
					<a href="" class="post-author">
						<img class="post-avatar" src="assets/img/avatar/40/sam.png" alt="" />
						<span>Sam Soffes</span></a>

					<div class="post-meta top">
						<ul>
							<li><a href="" class="post-action-btn reply">reply</a></li>
							<li>
								<a href="" class="post-action-btn favorite">favorite</a>
							</li>
							<li>
								<a href="" class="post-action-time "><span class="" aria-hidden="true">3m</span></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="post-content">
					<p>How to Get Inspired: the Right Way - Designmodo
						<a href="http://bit.ly/1lE4uJc">bit.ly/1lE4uJc</a> Good stuff from
						<a href="http://bit.ly/1lE4uJc">@designmodo</a>!</p>
				</div>
			</div>
		</div>
		<!--end .post-main -->

		<div class="post-action">

			<div class="post-meta bottom">
				<ul>
					<li><a href="" class="post-action-btn reply">reply</a></li>
					<li>
						<a href="" class="post-action-btn favorite">favorite</a>
					</li>
					<li>
						<a href="" class="post-action-time "><span class="" aria-hidden="true">5m</span></a>
					</li>
				</ul>
			</div>
		</div>
		<!--end .post-action -->


	</div>


</article>


<article class="post panel post-photo">
	<div class="post-wrap ">
		<div class="post-main">
			<div class="post-body">
				<div class="post-header-wrap">
					<a href="" class="post-author">
						<img class="post-avatar" src="assets/img/avatar/40/meg.png" alt="" />
						<span>Meg Robichaud</span></a>

					<div class="post-meta top">
						<ul>
							<li><a href="" class="post-action-btn reply">reply</a></li>
							<li>
								<a href="" class="post-action-btn favorite">favorite</a>
							</li>
							<li>
								<a href="" class="post-action-time "><span class="" aria-hidden="true">25m</span></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="post-content">
					<p>My view this morning is simply beautiful...
						<a href="http://instagram.com/p/mV0PUrHRwQ/">instagram.com/p/mV0PUrHRwQ/</a></p>
				</div>

			</div>
		</div>
		<!--end .post-main -->
		<div class="post-image">
			<a href="" id="modal-trigger-meg" class="modal-trigger" data-image="meg-photo">
				<img src="assets/img/photos/large/beach.jpg" alt="beach" />
			</a>
		</div>
		<!--end .post-image -->

		<div class="post-action">
			<div class="post-meta bottom">
				<ul>
					<li><a href="" class="post-action-btn reply">reply</a></li>
					<li>
						<a href="" class="post-action-btn favorite">favorite</a>
					</li>
					<li>
						<a href="" class="post-action-time "><span class="" aria-hidden="true">5m</span></a>
					</li>
				</ul>
			</div>
		</div>
		<!--end .post-action -->
	</div>

</article>


<article class="post panel">
	<div class="post-wrap">
		<div class="post-main">
			<div class="post-body">
				<div class="post-header-wrap">
					<a href="" class="post-author">
						<img class="post-avatar" src="assets/img/avatar/40/kerem.png" alt="" />
						<span>Kerem Suer</span></a>

					<div class="post-meta top">
						<ul>
							<li><a href="" class="post-action-btn reply">reply</a></li>
							<li>
								<a href="" class="post-action-btn favorite">favorite</a>
							</li>
							<li>
								<a href="" class="post-action-time "><span class="" aria-hidden="true">50m</span></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="post-content">
					<p>8 Apps to Turn Your Pipe Dreams Into Prototypes <a href="http://on.mash.to/1oubyu8">on.mash.to/1oubyu8</a>
					</p>
				</div>
			</div>
		</div>
		<!--end .post-main -->

		<div class="post-action">

			<div class="post-meta bottom">
				<ul>
					<li><a href="" class="post-action-btn reply">reply</a></li>
					<li>
						<a href="" class="post-action-btn favorite">favorite</a>
					</li>
					<li>
						<a href="" class="post-action-time "><span class="" aria-hidden="true">5m</span></a>
					</li>
				</ul>
			</div>
		</div>
		<!--end .post-action -->

	</div>

</article>


<div ng-controller="FeedCtrl">
<p ng-repeat="feed in feeds">{{feed.name}}</p>
</div>


<!--<article class="post panel">-->
	<!--<div class="post-wrap">-->
		<!--<div class="post-main">-->
			<!--<div class="post-body">-->
				<!--<div class="post-header-wrap">-->
					<!--<a href="" class="post-author">-->
						<!--<img class="post-avatar" src="assets/img/avatar/40/liang.png" alt="" />-->
						<!--<span>Liang Shi </span></a>-->

					<!--<div class="post-meta top">-->
						<!--<ul>-->
							<!--<li><a href="" class="post-action-btn reply">reply</a></li>-->
							<!--<li>-->
								<!--<a href="" class="post-action-btn favorite">favorite</a>-->
							<!--</li>-->
							<!--<li>-->
								<!--<a href="" class="post-action-time "><span class="" aria-hidden="true">1h</span></a>-->
							<!--</li>-->
						<!--</ul>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="post-content">-->
					<!--<p>How to get animations out of your head. <a href="http://bit.ly/1lE4uJc">http://bit.ly/1q7BngO</a> -->
						<!--Funny and useful.</p>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
		<!--&lt;!&ndash;end .post-main &ndash;&gt;-->

		<!--<div class="post-action">-->

			<!--<div class="post-meta bottom">-->
				<!--<ul>-->
					<!--<li><a href="" class="post-action-btn reply">reply</a></li>-->
					<!--<li>-->
						<!--<a href="" class="post-action-btn favorite">favorite</a>-->
					<!--</li>-->
					<!--<li>-->
						<!--<a href="" class="post-action-time "><span class="" aria-hidden="true">5m</span></a>-->
					<!--</li>-->
				<!--</ul>-->
			<!--</div>-->
		<!--</div>-->
		<!--&lt;!&ndash;end .post-action &ndash;&gt;-->

	<!--</div>-->

<!--</article>-->


<!--<article class="post panel post-video">-->
	<!--<div class="post-wrap">-->
		<!--<div class="post-main">-->
			<!--<div class="post-body">-->
				<!--<div class="post-header-wrap">-->
					<!--<a href="" class="post-author">-->
						<!--<img class="post-avatar" src="assets/img/avatar/40/vitor.png" alt="" />-->
						<!--<span>Vitor Leal</span></a>-->

					<!--<div class="post-meta top">-->
						<!--<ul>-->
							<!--<li><a href="" class="post-action-btn reply">reply</a></li>-->
							<!--<li>-->
								<!--<a href="" class="post-action-btn favorite">favorite</a>-->
							<!--</li>-->
							<!--<li>-->
								<!--<a href="" class="post-action-time "><span class="" aria-hidden="true">1h</span></a>-->
							<!--</li>-->
						<!--</ul>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="post-content">-->
					<!--<p>You have to see this bike. It will make your daily commute a absolute joy ride!-->
						<!--<a href="vimeo.com/p/mV0PUrHRwQ/">vimeo.com/p/mV0PUrHRwQ/-->
						<!--</a></p>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
		<!--&lt;!&ndash;end .post-main &ndash;&gt;-->
		<!--<div class="post-image">-->

			<!--<a href="" id="modal-trigger-vitor" data-video="vitor-video">-->
				<!--<div><img src="assets/img/video-play-btn.png" alt="" />-->
				<!--</div>-->
				<!--<img src="assets/img/photos/large/bike.jpg" alt="bike" />-->
			<!--</a>-->
		<!--</div>-->
		<!--&lt;!&ndash;end .post-image &ndash;&gt;-->
		<!--<div class="post-action">-->

			<!--<div class="post-meta bottom">-->
				<!--<ul>-->
					<!--<li><a href="" class="post-action-btn reply">reply</a></li>-->
					<!--<li>-->
						<!--<a href="" class="post-action-btn favorite">favorite</a>-->
					<!--</li>-->
					<!--<li>-->
						<!--<a href="" class="post-action-time "><span class="" aria-hidden="true">5m</span></a>-->
					<!--</li>-->
				<!--</ul>-->
			<!--</div>-->
		<!--</div>-->
		<!--&lt;!&ndash;end .post-action &ndash;&gt;-->

	<!--</div>-->

<!--</article>-->


<!--<article class="post panel">-->
	<!--<div class="post-wrap">-->
		<!--<div class="post-main">-->
			<!--<div class="post-body">-->
				<!--<div class="post-header-wrap">-->
					<!--<a href="" class="post-author">-->
						<!--<img class="post-avatar" src="assets/img/avatar/40/pallavi.png" alt="" />-->
						<!--<span>Pallavi Gupta</span></a>-->

					<!--<div class="post-meta top">-->
						<!--<ul>-->
							<!--<li><a href="" class="post-action-btn reply">reply</a></li>-->
							<!--<li>-->
								<!--<a href="" class="post-action-btn favorite">favorite</a>-->
							<!--</li>-->
							<!--<li>-->
								<!--<a href="" class="post-action-time "><span class="" aria-hidden="true">3m</span></a>-->
							<!--</li>-->
						<!--</ul>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="post-content">-->
					<!--<p>Need some reading? 11 free ebooks for designers | Creative Bloq <a href="http://bit.ly/1lE4uJc">bit.ly/1lE5QDM</a>-->
						<!--via <a href="http://bit.ly/1lE4uJc">@netmag</a></p>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
		<!--&lt;!&ndash;end .post-main &ndash;&gt;-->

		<!--<div class="post-action">-->

			<!--<div class="post-meta bottom">-->
				<!--<ul>-->
					<!--<li><a href="" class="post-action-btn reply">reply</a></li>-->
					<!--<li>-->
						<!--<a href="" class="post-action-btn favorite">favorite</a>-->
					<!--</li>-->
					<!--<li>-->
						<!--<a href="" class="post-action-time "><span class="" aria-hidden="true">5m</span></a>-->
					<!--</li>-->
				<!--</ul>-->
			<!--</div>-->
		<!--</div>-->
		<!--&lt;!&ndash;end .post-action &ndash;&gt;-->


	<!--</div>-->

<!--</article>-->


<!--<article class="post panel post-photo">-->
	<!--<div class="post-wrap">-->
		<!--<div class="post-main">-->
			<!--<div class="post-body">-->
				<!--<div class="post-header-wrap">-->
					<!--<a href="" class="post-author">-->
						<!--<img class="post-avatar" src="assets/img/avatar/40/jenny.png" alt="" />-->
						<!--<span>Jenny Shen</span></a>-->

					<!--<div class="post-meta top">-->
						<!--<ul>-->
							<!--<li><a href="" class="post-action-btn reply">reply</a></li>-->
							<!--<li>-->
								<!--<a href="" class="post-action-btn favorite">favorite</a>-->
							<!--</li>-->
							<!--<li>-->
								<!--<a href="" class="post-action-time "><span class="" aria-hidden="true">25m</span></a>-->
							<!--</li>-->
						<!--</ul>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="post-content">-->
					<!--<p>Perfect day to be outside taking pictures <a href="http://bit.ly/1lE4uJc">instagram.com/p/mV0PUrHRwQ/</a>-->
						<!--!</p>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
		<!--&lt;!&ndash;end .post-main &ndash;&gt;-->
		<!--<div class="post-image">-->
			<!--<a href="" id="modal-trigger-jenny">-->
				<!--<img src="assets/img/photos/large/portrait.jpg" alt="portrait" />-->
			<!--</a>-->
		<!--</div>-->
		<!--&lt;!&ndash;end .post-image &ndash;&gt;-->
		<!--<div class="post-action">-->

			<!--<div class="post-meta bottom">-->
				<!--<ul>-->
					<!--<li><a href="" class="post-action-btn reply">reply</a></li>-->
					<!--<li>-->
						<!--<a href="" class="post-action-btn favorite">favorite</a>-->
					<!--</li>-->
					<!--<li>-->
						<!--<a href="" class="post-action-time "><span class="" aria-hidden="true">5m</span></a>-->
					<!--</li>-->
				<!--</ul>-->
			<!--</div>-->
		<!--</div>-->
		<!--&lt;!&ndash;end .post-action &ndash;&gt;-->


	<!--</div>-->

<!--</article>-->

<!--<article class="post panel">-->
	<!--<div class="post-wrap">-->
		<!--<div class="post-main">-->
			<!--<div class="post-body">-->
				<!--<div class="post-header-wrap">-->
					<!--<a href="" class="post-author">-->
						<!--<img class="post-avatar" src="assets/img/avatar/40/jonathan.png" alt="" />-->
						<!--<span>Jonathan Moreira</span></a>-->

					<!--<div class="post-meta top">-->
						<!--<ul>-->
							<!--<li><a href="" class="post-action-btn reply">reply</a></li>-->
							<!--<li>-->
								<!--<a href="" class="post-action-btn favorite">favorite</a>-->
							<!--</li>-->
							<!--<li>-->
								<!--<a href="" class="post-action-time "><span class="" aria-hidden="true">1h</span></a>-->
							<!--</li>-->
						<!--</ul>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="post-content">-->
					<!--<p>Thoughtful brand decisions vs. emotional brand decisions. <a href="http://bit.ly/1lE4uJc">ow.ly/vtT2i</a>-->
					<!--</p>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
		<!--&lt;!&ndash;end .post-main &ndash;&gt;-->

		<!--<div class="post-action">-->

			<!--<div class="post-meta bottom">-->
				<!--<ul>-->
					<!--<li><a href="" class="post-action-btn reply">reply</a></li>-->
					<!--<li>-->
						<!--<a href="" class="post-action-btn favorite">favorite</a>-->
					<!--</li>-->
					<!--<li>-->
						<!--<a href="" class="post-action-time "><span class="" aria-hidden="true">5m</span></a>-->
					<!--</li>-->
				<!--</ul>-->
			<!--</div>-->
		<!--</div>-->
		<!--&lt;!&ndash;end .post-action &ndash;&gt;-->
	<!--</div>-->

<!--</article>-->


<!--<article class="post panel">-->
	<!--<div class="post-wrap">-->
		<!--<div class="post-main">-->
			<!--<div class="post-body">-->
				<!--<div class="post-header-wrap">-->
					<!--<a href="" class="post-author">-->
						<!--<img class="post-avatar" src="assets/img/avatar/40/jon.png" alt="" />-->
						<!--<span>Jon Brennan</span></a>-->

					<!--<div class="post-meta top">-->
						<!--<ul>-->
							<!--<li><a href="" class="post-action-btn reply">reply</a></li>-->
							<!--<li>-->
								<!--<a href="" class="post-action-btn favorite">favorite</a>-->
							<!--</li>-->
							<!--<li>-->
								<!--<a href="" class="post-action-time "><span class="" aria-hidden="true">3m</span></a>-->
							<!--</li>-->
						<!--</ul>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="post-content">-->
					<!--<p>Had some time to play with the interactive portion of-->
						<!--inDesignCC <a href="http://bit.ly/1lE4uJc">bit.ly/1lE5QD</a></p>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
		<!--&lt;!&ndash;end .post-main &ndash;&gt;-->

		<!--<div class="post-action">-->

			<!--<div class="post-meta bottom">-->
				<!--<ul>-->
					<!--<li><a href="" class="post-action-btn reply">reply</a></li>-->
					<!--<li>-->
						<!--<a href="" class="post-action-btn favorite">favorite</a>-->
					<!--</li>-->
					<!--<li>-->
						<!--<a href="" class="post-action-time "><span class="" aria-hidden="true">1h</span></a>-->
					<!--</li>-->
				<!--</ul>-->
			<!--</div>-->
		<!--</div>-->
		<!--&lt;!&ndash;end .post-action &ndash;&gt;-->
	<!--</div>-->

<!--</article>-->


<!--<article class="post panel post-video">-->
	<!--<div class="post-wrap">-->
		<!--<div class="post-main">-->
			<!--<div class="post-body">-->
				<!--<div class="post-header-wrap">-->
					<!--<a href="" class="post-author">-->
						<!--<img class="post-avatar" src="assets/img/avatar/40/michael.png" alt="" />-->
						<!--<span>Michael Wong</span></a>-->

					<!--<div class="post-meta top">-->
						<!--<ul>-->
							<!--<li><a href="" class="post-action-btn reply">reply</a></li>-->
							<!--<li>-->
								<!--<a href="" class="post-action-btn favorite">favorite</a>-->
							<!--</li>-->
							<!--<li>-->
								<!--<a href="" class="post-action-time "><span class="" aria-hidden="true">3m</span></a>-->
							<!--</li>-->
						<!--</ul>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="post-content">-->
					<!--<p>Awesome! Check this out. <a href="http://bit.ly/1lE4uJc">instagram.com/p/mV0PUrHRwQ/</a>-->
					<!--</p>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
		<!--&lt;!&ndash;end .post-main &ndash;&gt;-->
		<!--<div class="post-image">-->
			<!--<a href="" id="modal-trigger-michael" data-video="michael-video">-->
				<!--<div><img src="assets/img/video-play-btn.png" alt="" />-->
				<!--</div>-->
				<!--<img src="assets/img/photos/large/skate.jpg" alt="skate" />-->
			<!--</a>-->

		<!--</div>-->
		<!--&lt;!&ndash;end .post-image &ndash;&gt;-->
		<!--<div class="post-action">-->

			<!--<div class="post-meta bottom">-->
				<!--<ul>-->
					<!--<li><a href="" class="post-action-btn reply">reply</a></li>-->
					<!--<li>-->
						<!--<a href="" class="post-action-btn favorite">favorite</a>-->
					<!--</li>-->
					<!--<li>-->
						<!--<a href="" class="post-action-time "><span class="" aria-hidden="true">5m</span></a>-->
					<!--</li>-->
				<!--</ul>-->
			<!--</div>-->
		<!--</div>-->
		<!--&lt;!&ndash;end .post-action &ndash;&gt;-->


	<!--</div>-->

<!--</article>-->


<!--<article class="post panel ">-->
	<!--<div class="post-wrap">-->
		<!--<div class="post-main">-->
			<!--<div class="post-body">-->
				<!--<div class="post-header-wrap">-->
					<!--<a href="" class="post-author">-->
						<!--<img class="post-avatar" src="assets/img/avatar/40/ed.png" alt="" />-->
						<!--<span>Ed Wellbrook</span></a>-->

					<!--<div class="post-meta top">-->
						<!--<ul>-->
							<!--<li><a href="" class="post-action-btn reply">reply</a></li>-->
							<!--<li>-->
								<!--<a href="" class="post-action-btn favorite">favorite</a>-->
							<!--</li>-->
							<!--<li>-->
								<!--<a href="" class="post-action-time "><span class="" aria-hidden="true">2h</span></a>-->
							<!--</li>-->
						<!--</ul>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="post-content">-->
					<!--<p><a href="http://bit.ly/1lE4uJc">#freelancers</a> will enjoy <a href="http://bit.ly/1lE4uJc">@WDTrends</a>-->
						<!--for graphic and web design tips and inspiration.</p>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
		<!--&lt;!&ndash;end .post-main &ndash;&gt;-->

		<!--<div class="post-action">-->

			<!--<div class="post-meta bottom">-->
				<!--<ul>-->
					<!--<li><a href="" class="post-action-btn reply">reply</a></li>-->
					<!--<li>-->
						<!--<a href="" class="post-action-btn favorite">favorite</a>-->
					<!--</li>-->
					<!--<li>-->
						<!--<a href="" class="post-action-time "><span class="" aria-hidden="true">1h</span></a>-->
					<!--</li>-->
				<!--</ul>-->
			<!--</div>-->
		<!--</div>-->
		<!--&lt;!&ndash;end .post-action &ndash;&gt;-->


	<!--</div>-->


<!--</article>-->

<!--<article class="post panel">-->
	<!--<div class="post-wrap">-->
		<!--<div class="post-main">-->
			<!--<div class="post-body">-->
				<!--<div class="post-header-wrap">-->
					<!--<a href="" class="post-author">-->
						<!--<img class="post-avatar" src="assets/img/avatar/40/ignacio.png" alt="" />-->
						<!--<span>Ignacio Giri</span></a>-->

					<!--<div class="post-meta top">-->
						<!--<ul>-->
							<!--<li><a href="" class="post-action-btn reply">reply</a></li>-->
							<!--<li>-->
								<!--<a href="" class="post-action-btn favorite">favorite</a>-->
							<!--</li>-->
							<!--<li>-->
								<!--<a href="" class="post-action-time "><span class="" aria-hidden="true">3m</span></a>-->
							<!--</li>-->
						<!--</ul>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="post-content">-->
					<!--<p>Sponsor // Bootstrap Responsive Templates <a href="http://bit.ly/1lE4uJc">bit.ly/1qfjLOl</a>-->
						<!--<a href="http://bit.ly/1lE4uJc">#design </a>-->
					<!--</p>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
		<!--&lt;!&ndash;end .post-main &ndash;&gt;-->

		<!--<div class="post-action">-->

			<!--<div class="post-meta bottom">-->
				<!--<ul>-->
					<!--<li><a href="" class="post-action-btn reply">reply</a></li>-->
					<!--<li>-->
						<!--<a href="" class="post-action-btn favorite">favorite</a>-->
					<!--</li>-->
					<!--<li>-->
						<!--<a href="" class="post-action-time "><span class="" aria-hidden="true">5m</span></a>-->
					<!--</li>-->
				<!--</ul>-->
			<!--</div>-->
		<!--</div>-->
		<!--&lt;!&ndash;end .post-action &ndash;&gt;-->


	<!--</div>-->

<!--</article>-->


<!--<article class="post panel">-->
	<!--<div class="post-wrap">-->
		<!--<div class="post-main">-->
			<!--<div class="post-body">-->
				<!--<div class="post-header-wrap">-->
					<!--<a href="" class="post-author">-->
						<!--<img class="post-avatar" src="assets/img/avatar/40/lauren.png" alt="" />-->
						<!--<span>Lauren Gray</span></a>-->

					<!--<div class="post-meta top">-->
						<!--<ul>-->
							<!--<li><a href="" class="post-action-btn reply">reply</a></li>-->
							<!--<li>-->
								<!--<a href="" class="post-action-btn favorite">favorite</a>-->
							<!--</li>-->
							<!--<li>-->
								<!--<a href="" class="post-action-time "><span class="" aria-hidden="true">1h</span></a>-->
							<!--</li>-->
						<!--</ul>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="post-content">-->
					<!--<p>7 Servings of Type for a Healthy Head & Body <a href="http://bit.ly/1lE4uJc">heydesigner.net/yfwnj</a>-->
					<!--</p>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
		<!--&lt;!&ndash;end .post-main &ndash;&gt;-->

		<!--<div class="post-action">-->

			<!--<div class="post-meta bottom">-->
				<!--<ul>-->
					<!--<li><a href="" class="post-action-btn reply">reply</a></li>-->
					<!--<li>-->
						<!--<a href="" class="post-action-btn favorite">favorite</a>-->
					<!--</li>-->
					<!--<li>-->
						<!--<a href="" class="post-action-time "><span class="" aria-hidden="true">5m</span></a>-->
					<!--</li>-->
				<!--</ul>-->
			<!--</div>-->
		<!--</div>-->
		<!--&lt;!&ndash;end .post-action &ndash;&gt;-->


	<!--</div>-->

<!--</article>-->


<!--<article class="post panel post-photo">-->
	<!--<div class="post-wrap">-->
		<!--<div class="post-main">-->
			<!--<div class="post-body">-->
				<!--<div class="post-header-wrap">-->
					<!--<a href="" class="post-author">-->
						<!--<img class="post-avatar" src="assets/img/avatar/40/buzz.png" alt="" />-->
						<!--<span>Buzz Usborne</span></a>-->

					<!--<div class="post-meta top">-->
						<!--<ul>-->
							<!--<li><a href="" class="post-action-btn reply">reply</a></li>-->
							<!--<li>-->
								<!--<a href="" class="post-action-btn favorite">favorite</a>-->
							<!--</li>-->
							<!--<li>-->
								<!--<a href="" class="post-action-time "><span class="" aria-hidden="true">25m</span></a>-->
							<!--</li>-->
						<!--</ul>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="post-content">-->
					<!--<p>Road trip! <a href="http://bit.ly/1lE4uJc">bit.ly/1hkXFdK</a>-->
					<!--</p>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
		<!--&lt;!&ndash;end .post-main &ndash;&gt;-->
		<!--<div class="post-image">-->
			<!--<a href="" id="modal-trigger-buzz" data-image="buzz-photo">-->
				<!--<img src="assets/img/photos/large/road-trip.jpg" alt="beach" />-->
			<!--</a>-->
		<!--</div>-->
		<!--&lt;!&ndash;end .post-image &ndash;&gt;-->
		<!--<div class="post-action">-->

			<!--<div class="post-meta bottom">-->
				<!--<ul>-->
					<!--<li><a href="" class="post-action-btn reply">reply</a></li>-->
					<!--<li>-->
						<!--<a href="" class="post-action-btn favorite">favorite</a>-->
					<!--</li>-->
					<!--<li>-->
						<!--<a href="" class="post-action-time "><span class="" aria-hidden="true">5m</span></a>-->
					<!--</li>-->
				<!--</ul>-->
			<!--</div>-->
		<!--</div>-->
		<!--&lt;!&ndash;end .post-action &ndash;&gt;-->


	<!--</div>-->

<!--</article>-->


<!--<article class="post panel">-->
	<!--<div class="post-wrap">-->
		<!--<div class="post-main">-->
			<!--<div class="post-body">-->
				<!--<div class="post-header-wrap">-->
					<!--<a href="" class="post-author">-->
						<!--<img class="post-avatar" src="assets/img/avatar/40/scott.png" alt="" />-->
						<!--<span>Scott Riley</span></a>-->

					<!--<div class="post-meta top">-->
						<!--<ul>-->
							<!--<li><a href="" class="post-action-btn reply">reply</a></li>-->
							<!--<li>-->
								<!--<a href="" class="post-action-btn favorite">favorite</a>-->
							<!--</li>-->
							<!--<li>-->
								<!--<a href="" class="post-action-time "><span class="" aria-hidden="true">2h</span></a>-->
							<!--</li>-->
						<!--</ul>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="post-content">-->
					<!--<p>Deal with your problems before they deal with your happiness.</p>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
		<!--&lt;!&ndash;end .post-main &ndash;&gt;-->

		<!--<div class="post-action">-->

			<!--<div class="post-meta bottom">-->
				<!--<ul>-->
					<!--<li><a href="" class="post-action-btn reply">reply</a></li>-->
					<!--<li>-->
						<!--<a href="" class="post-action-btn favorite">favorite</a>-->
					<!--</li>-->
					<!--<li>-->
						<!--<a href="" class="post-action-time "><span class="" aria-hidden="true">5m</span></a>-->
					<!--</li>-->
				<!--</ul>-->
			<!--</div>-->
		<!--</div>-->
		<!--&lt;!&ndash;end .post-action &ndash;&gt;-->


	<!--</div>-->

<!--</article>-->

<!--<article class="post panel">-->
	<!--<div class="post-wrap">-->
		<!--<div class="post-main">-->
			<!--<div class="post-body">-->
				<!--<div class="post-header-wrap">-->
					<!--<a href="" class="post-author">-->
						<!--<img class="post-avatar" src="assets/img/avatar/40/ryan.png" alt="" />-->
						<!--<span>Ryan O. Hicks</span></a>-->

					<!--<div class="post-meta top">-->
						<!--<ul>-->
							<!--<li><a href="" class="post-action-btn reply">reply</a></li>-->
							<!--<li>-->
								<!--<a href="" class="post-action-btn favorite">favorite</a>-->
							<!--</li>-->
							<!--<li>-->
								<!--<a href="" class="post-action-time "><span class="" aria-hidden="true">1h</span></a>-->
							<!--</li>-->
						<!--</ul>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="post-content">-->
					<!--<p>Excited about <a href="">@99U</a> Conf lineup this year <a href="">conference.99u.com</a></p>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
		<!--&lt;!&ndash;end .post-main &ndash;&gt;-->

		<!--<div class="post-action">-->

			<!--<div class="post-meta bottom">-->
				<!--<ul>-->
					<!--<li><a href="" class="post-action-btn reply">reply</a></li>-->
					<!--<li>-->
						<!--<a href="" class="post-action-btn favorite">favorite</a>-->
					<!--</li>-->
					<!--<li>-->
						<!--<a href="" class="post-action-time "><span class="" aria-hidden="true">5m</span></a>-->
					<!--</li>-->
				<!--</ul>-->
			<!--</div>-->
		<!--</div>-->
		<!--&lt;!&ndash;end .post-action &ndash;&gt;-->


	<!--</div>-->

<!--</article>-->


<!--<article class="post panel post-photo">-->
	<!--<div class="post-wrap">-->
		<!--<div class="post-main">-->
			<!--<div class="post-body">-->
				<!--<div class="post-header-wrap">-->
					<!--<a href="" class="post-author">-->
						<!--<img class="post-avatar" src="assets/img/avatar/40/samihah.png" alt="" />-->
						<!--<span>Samihah Azim</span></a>-->

					<!--<div class="post-meta top">-->
						<!--<ul>-->
							<!--<li><a href="" class="post-action-btn reply">reply</a></li>-->
							<!--<li>-->
								<!--<a href="" class="post-action-btn favorite">favorite</a>-->
							<!--</li>-->
							<!--<li>-->
								<!--<a href="" class="post-action-time "><span class="" aria-hidden="true">25m</span></a>-->
							<!--</li>-->
						<!--</ul>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="post-content">-->
					<!--<p>Love this picture <a href="">instagram.com/p/mV0PUrHRwQ/-->
					<!--</a></p>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
		<!--&lt;!&ndash;end .post-main &ndash;&gt;-->
		<!--<div class="post-image">-->
			<!--<a href="" id="modal-trigger-samihah" data-image="samihah-photo">-->
				<!--<img src="assets/img/photos/large/dandelion.jpg" alt="dandelion" />-->
			<!--</a>-->
		<!--</div>-->
		<!--&lt;!&ndash;end .post-image &ndash;&gt;-->
		<!--<div class="post-action">-->

			<!--<div class="post-meta bottom">-->
				<!--<ul>-->
					<!--<li><a href="" class="post-action-btn reply">reply</a></li>-->
					<!--<li>-->
						<!--<a href="" class="post-action-btn favorite">favorite</a>-->
					<!--</li>-->
					<!--<li>-->
						<!--<a href="" class="post-action-time "><span class="" aria-hidden="true">5m</span></a>-->
					<!--</li>-->
				<!--</ul>-->
			<!--</div>-->
		<!--</div>-->
		<!--&lt;!&ndash;end .post-action &ndash;&gt;-->


	<!--</div>-->

<!--</article>-->


<!--<article class="post panel post-video">-->
	<!--<div class="post-wrap">-->
		<!--<div class="post-main">-->
			<!--<div class="post-body">-->
				<!--<div class="post-header-wrap">-->
					<!--<a href="" class="post-author">-->
						<!--<img class="post-avatar" src="assets/img/avatar/40/jac.png" alt="jac" />-->
                        <!--<span>Jacqueline Saik-->

<!--</span></a>-->

					<!--<div class="post-meta top">-->
						<!--<ul>-->
							<!--<li><a href="" class="post-action-btn reply">reply</a></li>-->
							<!--<li>-->
								<!--<a href="" class="post-action-btn favorite">favorite</a>-->
							<!--</li>-->
							<!--<li>-->
								<!--<a href="" class="post-action-time "><span class="" aria-hidden="true">3m</span></a>-->
							<!--</li>-->
						<!--</ul>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="post-content">-->
					<!--<p>I love this little guy! <a href="http://bit.ly/1lE4uJc">vimeo.com/p/mV0PUrHRwQ/</a>-->
					<!--</p>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
		<!--&lt;!&ndash;end .post-main &ndash;&gt;-->
		<!--<div class="post-image">-->
			<!--<a href="" id="modal-trigger-jac" data-video="jac-video">-->
				<!--<div><img src="assets/img/video-play-btn.png" alt="" />-->
				<!--</div>-->
				<!--<img src="assets/img/photos/large/puppy.jpg" alt="puppy" />-->
			<!--</a>-->
		<!--</div>-->
		<!--&lt;!&ndash;end .post-image &ndash;&gt;-->
		<!--<div class="post-action">-->

			<!--<div class="post-meta bottom">-->
				<!--<ul>-->
					<!--<li><a href="" class="post-action-btn reply">reply</a></li>-->
					<!--<li>-->
						<!--<a href="" class="post-action-btn favorite">favorite</a>-->
					<!--</li>-->
					<!--<li>-->
						<!--<a href="" class="post-action-time "><span class="" aria-hidden="true">5m</span></a>-->
					<!--</li>-->
				<!--</ul>-->
			<!--</div>-->
		<!--</div>-->
		<!--&lt;!&ndash;end .post-action &ndash;&gt;-->


	<!--</div>-->

<!--</article>-->



</div>
</div>

</section>